.about {
    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
    }
    
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    
    .card-container {
        padding: 0px 100px;
    
    }
    
    .card {
        background: #e7f4f6;
        padding: 30px 60px 40px;
        border-radius: 5px;
        margin-top: -58px;
    }
    
    .about-title {
        /* animation */
        visibility: visible;
        animation-duration: 2000ms;
        animation-delay: 300ms;
        animation-name: fadeInUp;
    
        color: #226fb7;
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 8px;

        &2 {
            font-weight: 700;
        }
    }
    
    .about-description {
        /* animation */
        visibility: visible;
        animation-duration: 2000ms;
        animation-delay: 500ms;
        animation-name: fadeInUp;
    
        font-size: 18px;
        line-height: 30px;
        color: #505050;
    }
    
    .second-card {
        margin-top: -60px;
    }

    .title-card {
        position: relative;
        display: flex;
        background: #226fb7;
        font-size: 20px;
        text-transform: uppercase;
        padding-top: 15px;
        padding-bottom: 7px;
        font-weight: 600;
        margin-bottom: 10px !important;
        align-items: center;
    }
    
    .mini-card {
        visibility: visible;
        animation-duration: 2000ms;
        animation-delay: 300ms;
        animation-name: fadeInUp;
    }
    
    .date {
        visibility: visible;
        animation-duration: 2000ms;
        animation-delay: 300ms;
        animation-name: fadeInUp;
    
        position: relative;
        background: #e7f4f6;
        margin-bottom: 12px;
        border-radius: 3px;
        padding: 18px 25px !important;
        padding-left: 0 !important;
        overflow: hidden;
        font-size: 20px;
    }
    
    .date span{
        border-right: 1px solid #226fb7;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: #226fb7;
        border-right: 1px solid #226fb7;
        padding-right: 10px;
        font-weight: 600;
        width: 60px;
    }
    
    .desc {
        padding-left: 95px;
        font-weight: 700;
        font-size: 14px;
        color: #505050;
    }
    
    @media (min-width: 1200px) {
    
        .container,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl {
            min-width: 1140px;
        }
    }

    @media screen and (max-width: 1200px) {
        .mini-card-title {
            background: #226fb7;
            font-size: 20px !important;
            text-transform: uppercase;
            padding: 5px 25px !important;
    
            font-weight: 600;
            margin-bottom: 10px !important;
        }
    }
    
    
    @media screen and (max-width: 990px) {
        .mini-card-title {
            background: #226fb7;
            font-size: 18px !important;
            text-transform: uppercase;
            padding: 8px 25px !important;
            font-weight: 600;
            color: #fff !important;
            margin-bottom: 10px !important;
        }

        .second-card {
            margin-top: 50px;
        }
    }

    
    
    @media screen and (max-width: 770px) {
        .second-card {
            margin-top: 50px;
        }

        .card {
            margin-top: 50px;
        }

        .container {
            max-width: 991px !important;
            width: 100% !important;
          }
    }
    
}